/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 15px 15px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 15px 15px);
}

.art-Sheet-bl
{
	clip: rect(15px 15px auto auto);
}

.art-Sheet-br
{
	clip: rect(15px auto auto 15px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 15px auto);
}

.art-Sheet-bc
{
	clip: rect(15px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 15px);
}

.art-Sheet-cl
{
	clip: rect(auto 15px auto auto);
}

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
	clip: rect(auto auto auto 900px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 406px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-Block-bl
{
	clip: rect(7px 7px auto auto);
}

.art-Block-br
{
	clip: rect(7px auto auto 7px);
}

.art-Block-tc
{
	clip: rect(auto auto 7px auto);
}

.art-Block-bc
{
	clip: rect(7px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 7px);
}

.art-Block-cl
{
	clip: rect(auto 7px auto auto);
}

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 924px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 7px 7px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 7px 7px);
}

.art-BlockContent-bl
{
	clip: rect(7px 7px auto auto);
}

.art-BlockContent-br
{
	clip: rect(7px auto auto 7px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 7px auto);
}

.art-BlockContent-bc
{
	clip: rect(7px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 7px);
}

.art-BlockContent-cl
{
	clip: rect(auto 7px auto auto);
}

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 408px);
}
/* end Button */

